input[type=button]{
width: 150px;
height: 30px;
background-color: #ff3000;
border: 0;
border-radius: 15px;
color: #fff;
}

input[type=button].on {
	background-color: #eee;
	color: #ccc;
	cursor: not-allowed;
}